@use "./bar/bar.scss";
@use "./osd/osd.scss";
@use "./roundedcorners/roundedcorners.scss";
@use "./audio/audio.scss";

box.icon {
    font-family: "Material Symbols Rounded";
    font-size: 20px;
}

.heading {
    font-size: 24px;
}

.subheading {
    font-size: 18px;
}
