@use "sass:string";
@use "./colors";

window.Bar {
  background: transparent;
  > box {
    min-width: 50px;
    background: colors.$base;
    margin: 14px;
    margin-right: 0;
    border-radius: 20px;
    padding: 4px;
  }

  box.Workspaces {
    button {
      margin-bottom: 4px;
      background: colors.$base;
      color: colors.$text;
      border-radius: 20px;
    }
    button.focused {
      background: colors.$surface1;
      color: colors.$text;
      padding: 10px;
    }
  }

  box.Battery {
    background: colors.$surface1;
    padding: 5px;
    border-radius: 20px;
  }
}

box.icon {
  font-family: "Material Symbols Rounded";
}
