@use "../colors";

.AudioWindow {
    background-color: transparent;
    > box {
        background-color: colors.$base;
        color: colors.$text;
        border-radius: 10px;
        margin: 20px;
        min-height: 700px;
        min-width: 400px;
    }
}
