@use "../colors";

window.OSD {
    box.OSD {
        margin: 14px;
        background: colors.$base;
        min-width: 100px;
        margin-left: 7px;
        border-radius: 20px;
        padding: 10px;
    }
}
