@use "sass:string";
@use "../colors";

window.Bar {
    font-family: "Product Sans", sans-serif;

    background: transparent;
    > box {
        min-width: 50px;
        background: colors.$base;
        margin: 14px;
        margin-right: 0;
        border-radius: 20px;
        padding: 4px;
        > box {
            margin-bottom: 5px;
        }
    }

    box.Workspaces {
        button {
            margin-bottom: 4px;
            background: colors.$base;
            color: colors.$text;
            border-radius: 20px;
            font-size: 20px;
        }
        button.focused {
            background: colors.$surface1;
            color: colors.$text;
            padding: 10px;
        }
    }

    box.Battery {
        background: colors.$surface1;
        padding: 5px;
        border-radius: 20px;
    }

    box.Clock {
        background: colors.$surface1;
        padding: 5px;
        border-radius: 20px;
        color: colors.$text;

        label {
            font-size: 30px;
        }
    }

    .red_text {
        color: red;
    }

    .SysTray {
        background-color: colors.$surface1;
        border-radius: 20px;
        .TrayButton {
            background-color: transparent;
        }
    }

    .Battery {
        background-color: colors.$surface1;
        padding: 5px;
        border-radius: 20px;
    }
}
